.page-header {
  background: $header-background;
  color: $header-color;
  padding: 0.625rem 1.625rem;

  .flex {
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      justify-content: center;

      form {
        margin-top: 0.66rem;
        margin-bottom: 0.66rem;
      }
    }
  }

  .logo {
    font-size: 1.75rem;

    @media (min-width: 768px) {
      font-size: 2.125rem;
    }

    a {
      color: $header-color;
      text-decoration: none;
    }

    .icon {
      color: $header-icon-color;
    }
  }
}
