$heading-font: 'Nunito', sans-serif;
$body-font: 'Outfit', sans-serif;

// Colors from https://coolors.co/f05d5e-0f7173-e7ecef-272932-d8a47f
$sizzling-red: #f05d5e;
$skobeloff: #0f7173;
$alice-blue: #e7ecef;
$raisin-black: #272932;
$tumbleweed: #d8a47f;

$body-color: $raisin-black;
$header-color: $alice-blue;
$header-icon-color: $tumbleweed;
$link-color: $sizzling-red;
$footer-link-color: $sizzling-red;
$footer-color: $alice-blue;

$header-background: $raisin-black;
$footer-background: $header-background;
$card-background: $alice-blue;

body {
  color: $body-color;
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin: 0;
}

a {
  color: $link-color;
}

p {
  margin-top: 0;
}

.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.two-column {
  gap: 1.5rem;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.accessible-text {
  position: absolute;
  left: -9999rem;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@import 'components/page-header';
@import 'components/page-footer';
@import 'components/card';
